/.bundle

/db/*.sqlite3
/db/*.sqlite3-*

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep

/public/assets
.byebug_history

/config/master.key

/public/packs
/public/packs-test
/node_modules
/tmp/*
test/*
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.vscode/extensions.json
.framgia-ci-reports/
.framgia-ci-result.temp.yml
package-lock.json

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/database.yml

/config/application.yml

/storage
coverage/*
coverage/
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.browserslistrc
config/credentials.yml.enc
.gitattributes
config/credentials.yml.enc
